<!doctype html>
<html>
  <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/> 
  <title>Seerpod</title>
  <meta name=”description” content=”Seerpod ”>
  <meta name="keywords" content="Seerpod restaurant ">
<link href="http://meyerweb.com/eric/tools/css/reset/reset200802.css" rel="stylesheet" type="text/css" media="all">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js" ></script>
  <script>
 function create_content(data) {
   data = eval(data);
   var html = "<ul>";
   for (var i = 0; i < data.length; i++) {
     var id = data[i]["id"];
     var cnt = data[i]["cnt"];
     var name = data[i]["name"];
     html = html + "<li class='txt-pad'><label id='"+id+"' class='txt-pad'>"+ cnt +  "</label>"+name+"</li>";
   }
   html = html + "</ul>";
   $("#contents").html(html);
 }

 function append_content(data) {
   data = eval(data);
   for (var i = 0; i < data.length; i++) {
     var id = data[i]["id"];
     var cnt = data[i]["cnt"];
     var name = data[i]["name"];
     $("#"+id).html(cnt);
   }
  }

 function open_websocket(){
   function show_message(message){
     if (message == "Connected") {
        var data = $("#message")[0].value;
        create_content(data);
        return ;
     }
     append_content(message);
   }
        		
   var ws = new WebSocket("ws://seerpod.com/web-next");
   ws.onopen = function() {
     show_message('Connected');
   };
   ws.onmessage = function(event) {
     show_message(event.data);
   };
   ws.onclose = function() {
     show_message("Closed.");
   };
  }
</script>
<style>
body {
  font-family: "PT Mono", monospace;
  text-transform: uppercase;
  font-weight: 300;
  line-height: normal;
  color: #657b83;
}
h1 { 
  font-size: 1.5em;
}
.fw {
  width: 100%;
}
.rd {
  color: red;
}
#contents li {
  border-bottom: 1px solid silver;
  line-height: 2em;
}
.txt-pad {
  padding: 0.3em;
}
.center {
    width: 719px;
    margin: 0px auto;
}
#mysearch {
  border: 1px solid #657b83;
  line-height: 2em;
}
</style>
</head>
  <body onload="open_websocket();">
    <iframe id="_hidden" style="display:none"></iframe>
    <h1 class='txt-pad center'>seerpod</h1>
    <article class='center'>
      <input class="fw" id="mysearch" type="search" /> 
    </article>
    <section id="contents" class='center'>
    </section>
    <input type="hidden" id="message" value="{{ message }}" />
  </body>
</html>
